@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

$gray: rgba(0, 0, 0, 0.5);
$lightGray: #d6d3d1;

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes fade {
    0%{
        opacity: 0;
        bottom: -30%;
        transform: translateY(30px);
    }
    100%{
        opacity: 1;
        bottom: 0;
        transform: translateY(0);
    }
}

body{
    background-color: #F5F7FB;
}

.scrollbar {
    &::-webkit-scrollbar-thumb {
        background-color: $gray;
        border-radius: 20px;
    }
    &::-webkit-scrollbar-track {
        background-color: $lightGray;
        border-radius: 20px;
    }
    &::-webkit-scrollbar {
        width: 8px;
      }
}

.ingredient-item-animation, .preparation-step-animation {
    animation: 0.3s ease-in fade;
}

.spinner {
    animation: spin 2s linear infinite;
}

